@use '../../responsive.scss';
.newPostPage {
  height: 100%;
  display: flex;

  .formContainer {
    flex: 3;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
      /* Ẩn thanh cuộn trên Webkit */
    }

    .wrapper {
      margin: 30px 50px 100px 0px;
      @include responsive.md {
        margin-right: 0px;
      }
      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        @include responsive.sm {
          gap: 10px;
          label {
            font-size: 16px;
          }
        }
        .item {
          width: 30%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          input {
            padding: 20px;
            border-radius: 5px;
            border: 1px solid gray;
          }

          select {
            padding: 19px;
          }

          &.description {
            width: 100%;
            height: 320px;

            .quill > .ql-container > .ql-editor {
              height: 200px;
              font-size: 16px;
            }
          }
        }
        .sendButton {
          width: 30%;
          line-height: 48px;
          border-radius: 5px;
          border: none;
          background-color: teal;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
        span {
          color: red;
        }
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: #fcf5f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    @include responsive.md {
      display: none;
    }
    .imgZone {
      display: flex;
      flex-wrap: wrap; /* Allows wrapping of items to the next row */
      gap: 16px; /* Space between images */
      width: 100%;
      justify-content: center;
      img {
        width: 30%;
        height: 150px;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    button {
      width: 120px; /* Kích thước nút upload */
      height: 40px;
      font-size: 14px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #0056b3;
    }
  }
}
