@use "../../responsive.scss";

.listPage {
    display: flex;
    height: 100%;

    .listContainer {
        flex: 3;

        .wrapper {
            height: 100%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow-y: scroll;
            padding-bottom: 50px;

            @include responsive.sm {
                padding: 0px;
            }
        }



        .wrapper::-webkit-scrollbar {
            display: none;
            /* Ẩn thanh cuộn trên Webkit */
        }
    }



    .mapContainer {
        flex: 2;
        height: 100%;
        background-color: #fcf5f3;
        padding-bottom: 20px;

        @include responsive.md {
            display: none;
        }
    }

}